# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [1]:
# your code here
import pandas as pd
import numpy as np

#### 2. Use the `apple_store.sql` file to create a new database in mySQL workbench with that data. Once loaded, try to answer the following questions using mySQL workbench:

 - How many apps are there in the data source?
 - What is the average rating of all apps?
 - How many apps have an average rating no less than 4?
 - How many genres are there in total for all the apps?
 - Which genre is most likely to contain free apps?

In [ ]:
# your answers here

SELECT * from apple.apple_store;

-- How many apps are there in the data source?
 Select COUNT(id)
 from apple_store;

 
-- What is the average rating of all apps?
 SELECT AVG(user_rating)
 FROM apple_store;
 
-- How many apps have an average rating no less than 4?
 SELECT COUNT(id) 
 from apple_store
 WHERE user_rating >= 4;
 
-- How many genres are there in total for all the apps?
 SELECT COUNT(DISTINCT(prime_genre))
 FROM apple_store;

 
-- Which genre is most likely to contain free apps?
SELECT prime_genre, COUNT(*) as free_app_count
FROM apple_store
WHERE price = 0
GROUP BY prime_genre
ORDER BY free_app_count DESC;

#### 3. Create a SQL connection in this notebook and load the `apple_store` dataset. Assign it to a variable called `data`, which would be a pandas dataframe.

In [2]:
# your code here
import mysql.connector
import getpass
import pymysql
from sqlalchemy import create_engine
saved_pass = getpass.getpass()

In [3]:
connection = pymysql.connect(host= '127.0.0.1',
                         user='root',
                         password=saved_pass,
                         database='apple',
                         port=3306)

In [4]:
cursor = connection.cursor()

In [5]:
engine = create_engine("mysql+pymysql://{user}:{password}@127.0.0.1/{database}"
                       .format(user="root",
                               password=saved_pass,
                               database="apple"))

In [6]:
conn = engine.connect()

In [8]:
query = """
    SELECT *
    FROM apple_store
"""

In [9]:
data = pd.read_sql_query(query,conn)

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [10]:
# your code here
data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4,4.5,Games
1,281796108,Evernote - stay organized,158578688,0,161065,26,4,3.5,Productivity
2,281940292,"""WeatherBug - Local Weather, Radar, Maps, Alerts""",100524032,0,188583,2822,3.5,4.5,Weather
3,282614216,"""eBay: Best App to Buy, Sell, Save! Online Sho...",128512000,0,262241,649,4,4.5,Shopping
4,282935706,Bible,92774400,0,985920,5320,4.5,5,Reference

#### 5. Print the summary of the data.

In [11]:
# your code here
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7198 entries, 0 to 7197
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7198 non-null   object
 1   track_name        7198 non-null   object
 2   size_bytes        7198 non-null   object
 3   price             7198 non-null   object
 4   rating_count_tot  7198 non-null   object
 5   rating_count_ver  7198 non-null   object
 6   user_rating       7198 non-null   object
 7   user_rating_ver   7198 non-null   object
 8   prime_genre       7198 non-null   object
dtypes: object(9)
memory usage: 506.2+ KB

#### 6. Print the number of columns in the data.

In [15]:
# your code here
data.shape[1]

9

#### 7. Print all column names.

In [14]:
# your code here
data.columns

Index(['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot',
       'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre'],
      dtype='object')

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [18]:
# your code here
data['track_name'].count()

7198

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [26]:
# your code here

(data['user_rating'].astype(float)).mean()

3.527021394831898

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [30]:
# your code here
data['user_rating'] = data['user_rating'].astype(float)

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [32]:
# your code here


user_rating_high = data[data['user_rating']>= 4]

display(user_rating_high)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0,161065,26,4.0,3.5,Productivity
3,282614216,"""eBay: Best App to Buy, Sell, Save! Online Sho...",128512000,0,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0,985920,5320,4.5,5,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4,Games
...,...,...,...,...,...,...,...,...,...
7193,1187682390,VR Roller-Coaster,120760320,0,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0,3,3,5.0,5,Games
7197,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games

Now obtain the length of `user_rating_high` which should return 4781.

In [33]:
# your code here

user_rating_high.shape[0]

4782

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [40]:
# your code here

genres = data['prime_genre'].unique()

print(genres)
print(data['prime_genre'].nunique())

['Games' 'Productivity' 'Weather' 'Shopping' 'Reference' 'Finance' 'Music'
 'Utilities' 'Travel' 'Social Networking' 'Sports' 'Business'
 'Health & Fitness' 'Entertainment' 'Photo & Video' 'Navigation'
 'Education' 'Lifestyle' 'Food & Drink' 'News' 'Book' 'Medical' 'Catalogs']
23

Print the length of the unique values of `genres`. Your code should return 23.

In [43]:
# your code here

genres.size

23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [44]:
# your code here

print(data['prime_genre'].value_counts())

prime_genre
Games                3863
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: count, dtype: int64

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [56]:
# your code here
data['price'] = data['price'].astype(float)

free_apps = data[data["price"] == 0]

In [57]:
free_apps['prime_genre'].value_counts()

prime_genre
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: count, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [63]:
# your code here
ratio_free_apps = free_apps['prime_genre'].value_counts()/ data['prime_genre'].value_counts()
print(ratio_free_apps.sort_values(ascending=False))

prime_genre
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584261
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: count, dtype: float64

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [66]:
apps_per_genre = data['prime_genre'].value_counts()

print(apps_per_genre)

prime_genre
Games                3863
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: count, dtype: int64

In [69]:
# your code here

average_price= data.groupby('prime_genre')['price'].mean()

In [71]:
revenue = apps_per_genre * average_price

print(revenue.sort_values(ascending=False))

prime_genre
Games                5537.94
Education            1824.79
Productivity          770.84
Music                 667.29
Photo & Video         514.18
Entertainment         475.99
Utilities             408.61
Health & Fitness      344.96
Reference             309.56
Business              291.63
Medical               201.85
Book                  200.54
Navigation            189.74
Lifestyle             127.50
Weather               115.59
Sports                108.65
Food & Drink           97.80
Travel                 90.75
Social Networking      56.76
Finance                43.80
News                   38.83
Catalogs                7.99
Shopping                1.99
dtype: float64

# Challenge - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [72]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the head() function.

In [73]:
# Your code here:

pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [74]:
pm25.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      43824 non-null  int64
 1   year    43824 non-null  int64
 2   month   43824 non-null  int64
 3   day     43824 non-null  int64
 4   hour    43824 non-null  int64
 5   pm2.5   41757 non-null  float64
 6   DEWP    43824 non-null  int64
 7   TEMP    43824 non-null  float64
 8   PRES    43824 non-null  float64
 9   cbwd    43824 non-null  object
 10  Iws     43824 non-null  float64
 11  Is      43824 non-null  int64
 12  Ir      43824 non-null  int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [76]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # Your code here:
    y = x / 24
    return y

In [86]:
pm25_hourly = pd.DataFrame({
    'Iws_hourly ' : pm25['Iws'].apply(hourly),
    'Is':pm25['Is'].apply(hourly),
    'Ir': pm25['Ir'].apply(hourly)

})

In [87]:
pm25_hourly

       Iws_hourly    Is   Ir
0         0.074583  0.0  0.0
1         0.205000  0.0  0.0
2         0.279583  0.0  0.0
3         0.410000  0.0  0.0
4         0.540417  0.0  0.0
...            ...  ...  ...
43819     9.665417  0.0  0.0
43820     9.907500  0.0  0.0
43821    10.112500  0.0  0.0
43822    10.280000  0.0  0.0
43823    10.410417  0.0  0.0

[43824 rows x 3 columns]

Apply this function to the columns Iws, Is, and Ir. Store this new dataframe in the variable pm25_hourly.

In [ ]:
# Your code here:

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [88]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series, minus 1 
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''

    y = np.std(x) / (x.count() - 1)

    return y
    
    # Your code here:

In [89]:
a = pd.Series([1,2,3,4])

In [90]:
sample_sd(a)

0.37267799624996495

In [91]:
pm25_hourly.apply(sample_sd)

Iws_hourly     4.754929e-05
Is             7.229519e-07
Ir             1.346183e-06
dtype: float64